@import 'src/styles/vars';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Poppins;
  background-color: $grey-background;
}

.emoji-mart-emoji{
  display:-webkit-box;
  display:flex;
  margin:5px
}

.notification-custom {
  width: 100%;
  border-radius: 4px;
  padding: .5em;
  display: flex;

  & .notification-custom-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    margin-right: 5px;
  }

  & .notification-custom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-title {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .5px;
      text-transform: uppercase;
      color: $lightgrey-font-color;
    }
    &-message {
      font-size: 13px;
      color: $lightgrey-font-color;
    }
  }
}

.notification-custom-success {
  background-color: #388e3c ;
  border-left: 6px solid #1b5e20;
}

.notification-custom-danger {
  background-color: #e53935 ;
  border-left: 6px solid #c62828;
}

